* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: brown;
    height: 1050px;
    width: 1000px;
    border-color: black;
    border-style: solid;
    border-width: 10px;

}


h1 {
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 400px;
    font-size: 40px;
}

p1 {
    position: relative;
    left: 650px;
    bottom: 24px;
}

p2 {
    position: relative;
    top: 100px;
    right: 60px;
    font-size: 40px;
    padding: 0px;

}

p {
    position: relative;
    padding: 3px;
    top: 120px;
    font-size: 20px;
    line-height: 30px;
    left: 20px;
}

h2 {
    position: relative;
    top: 150px;
    padding: 20px;
}

img {
    border-radius: 120px;
    display: block;
    position: relative;
    left: 100px;
    top: 50px;
}

li {
    position: relative;
    top: 150px;
    padding: 5px;

}

footer {
    position: relative;
    top: 190px;
    left: 500px;
}